{% extends 'common/base.html' %}
{% load static %}
{% load myfilters %}
{% block title %}
{% endblock %}
{% block css %}
<style>
  body {
    background-color: #f5f5f5;
  }
  .main-area {
    display: flex-col;
    align-items: center;
    padding: 20px;
  }
</style>
{% endblock %} 
{% block body%}
<div class="main-area">
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-2">
            <img src="{{profile.profile_img.url}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">

            <div class="card-body">

            <div class="d-flex flex-row align-items-center mb-2">

              <h5 class="card-title mr-2">{{profile.user.username}}</h5>

              {% if user.username != profile.user.username and is_following == False %}
              <form method="POST" action="{% url 'follow' profile.user.username %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Follow</button>
              </form>

              {% elif user.username != profile.user.username and is_following == True %}
              <form method="POST" action="{% url 'unfollow' profile.user.username %}">
                {% csrf_token %}
              <button type="submit" class="btn btn-light">Unfollow</button>
              </form>

              {% elif user.username == profile.user.username %}
              <button type="submit" class="btn btn-light">Edit Profile</button>

              {% endif %}

            </div>

              <div class="d-flex flex-row justify-content-between" style="max-width: 400px">
                <b>{{post_count}} Posts</b>
                <b>{{follower_count}} Followers</b>
                <b>{{followee_count}} Following</b>
              </div>
              <p class="card-text">{{profile.bio}}</p>
            </div>
          </div>
        </div>
      </div>

      <h3 class="text-center">Posts</h3>
      <div id="postLayout" class="row row-cols-1 row-cols-md-3 g-4">

      </div>
      <div id="showMorePosts", class="text-center my-2">

      </div>
</div>
{% endblock %}

{% block js %}
<script>
  var postLayout = document.getElementById("postLayout");
  var showMorePosts = document.getElementById("showMorePosts")

  function appendPost(value, index, array){
    postLayout.innerHTML += `<div class='col'><div class='card h-100'><img src='/media/${value.fields.image}' class='card-img-top'></div></div>`
  }

  function loadMorePosts(url){
    fetch(url).then((response) => {
      return response.json();
    })
    .then((response) => {
      console.log(response)
      response.payload.results.forEach(appendPost)
      if(response.payload.next!=""){
        showMorePosts.innerHTML = `<button type="button" class="btn btn-primary" onClick="loadMorePosts('http://127.0.0.1:8000/users/{{profile.user.username}}/posts/?page=${response.payload.next}')">Load More</button>`
      }
      else{
        showMorePosts.innerHTML = "";
      }
    })
  }

  function listPosts(){
    fetch("http://127.0.0.1:8000/users/{{profile.user.username}}/posts/").then((response) => {
      return response.json();
    })
    .then((response) => {
      console.log(response)
      response.payload.results.forEach(appendPost)
      if(response.payload.next!=""){
        showMorePosts.innerHTML = `<button type="button" class="btn btn-primary" onClick="loadMorePosts('http://127.0.0.1:8000/users/{{profile.user.username}}/posts/?page=${response.payload.next}')">Load More</button>`
      }
      else{
        showMorePosts.innerHTML = "";
      }
    })
  }

  listPosts();
</script>
{% endblock %}
