{% extends 'common/base.html' %}
{% load static %}
{% load myfilters %}
{% block title %}
{% endblock %}
{% block css %}
<style>
  body {
    background-color: #f5f5f5;
  }
  .main-area {
    display: flex-col;
    align-items: center;
    padding: 20px;
  }
</style>
{% endblock %} {% block body%}
<div class="main-area">
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-6">
            <img src="{{post.image.url}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
            <div class='d-flex flex-row align-items-center mb-2'> 
                <img src="{{post.user.profile.profile_img.url}}" alt='mdo' width='50' height='50' class='rounded-circle mr-1'><b> {{post.user.username}} </b>
            </div>
            <div class="d-flex flex-row align-items-center mb-4">
              <h5 class="card-title mr-2">{{post.caption}}</h5>
            </div>

            <h5>Comments</h5>
            <div class="flex-col overflow-auto" style="max-width: 250px;" id="comments">
                {% for comment in post.comments.all %}
                <div class='d-flex flex-row align-items-center mb-2'> <img src={{comment.user.profile.profile_img.url}} alt='mdo' width='50' height='50' class='rounded-circle mr-1'><p><b> {{comment.user.username}} </b> {{comment.detail}}</p></div>
                {% endfor %}
            </div>

            <div class="" style="width: 600px;">
                <div class="d-flex flex-row align-items-center">
                    <p id="likeCount">{{post.like_count}} Likes</p>

                    <form id="likeDislikeForm"> {% csrf_token %}
                        <div id="likeDislikeButton">
                            {% if is_liked == True %}
                            <button type="button" class="btn btn-light" onclick="likeDislikePost()">Unlike</button>
                            {% elif is_liked == False %}
                            <button type="button" class="btn btn-primary" onclick="likeDislikePost()">Like</button>
                            {% endif %}
                        </div>

                    </form>
                </div>

            <form id="postCommentForm"> {% csrf_token %}
                <div class="input-group mb-3 mt-2">
                <input type="text" class="form-control" placeholder="Add a comment" aria-label="Recipient's username" aria-describedby="button-addon2" name="comment_detail" id="post-comment">
                <button class="btn btn-outline-secondary" onclick="postComment()" type="button" id="post-comment-button">Post</button>
                </div>
            </form>
          </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}
<script>
    let comments = document.getElementById("comments")
    function postComment(){
        fetch(
            "http://127.0.0.1:8000/posts/{{post.uuid}}/comments/", {
                method: 'POST',
                body: new FormData(document.getElementById('postCommentForm'))
            }
        )
        .then((response) => {
            return response.json();
        })
        .then((response) => {
            console.log(response)
            comments.innerHTML = `<div class='d-flex flex-row align-items-center mb-2'> <img src=${response.payload.profile_img} alt='mdo' width='50' height='50' class='rounded-circle mr-1'><p><b> ${response.payload.user} </b> ${response.payload.comment_detail}</p></div>` + comments.innerHTML;
            document.getElementById("post-comment").value = ""
        })
    }

    let likeDislikeButton = document.getElementById("likeDislikeButton");

    function likeDislikePost(){
        fetch(
            "http://127.0.0.1:8000/posts/{{post.uuid}}/like_dislike/", {
                method: 'POST',
                body: new FormData(document.getElementById('likeDislikeForm'))
            }
        ).then((response) => {
            return response.json();
        })
        .then((response) => {
            console.log(response)
            if(response.payload.is_liked == true){
                likeDislikeButton.innerHTML = `<button type="button" class="btn btn-light" onclick="likeDislikePost()">Unlike</button>`;
            }
            else{
                likeDislikeButton.innerHTML = `<button type="button" class="btn btn-primary" onclick="likeDislikePost()">Like</button>`;
            }
            document.getElementById("likeCount").innerHTML = `${response.payload.like_count} Likes`
        })
    }
</script>
{% endblock %}